@font-face {
    font-family: "AnyConv.com__AvenirLTStd-Roman";
    src: url("../fonts/AnyConv.com__AvenirLTStd-Roman.ttf") format("truetype");
}
@font-face {
    font-family: "AnyConv.com__AvenirLTStd-Black";
    src: url("../fonts/AnyConv.com__AvenirLTStd-Black.ttf") format("truetype");
}